<% include header %>
<div class="ui main text container segment">
    <div class="ui huge header"><%= blog.title %></div>
    <div class="ui top attached ">
        <div class="item">
            <img class="ui centered rounded image" src="<%= blog.image %>" >
            <div class="content">
                <span><%= blog.created.toDateString() %></span>
            </div>
            <hr>
            <div class="description">
                <p><%- blog.body %></p>
            </div>

            <div class="ui grid">
            <div class="eight wide column">
                <a class="ui positive button" href="/blogs/<%= blog._id %>/edit">Edit</a>
            </div>
            <div class="eight wide column">
                <form class="" id="delete" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
                <button class="ui negative button">Delete</button>
                </form>
            </div>
            </div>
            
            
        </div>
    </div>
</div>

<% include footer %>